{% extends 'partials/_profile_nav.html' %}
{% load static %}
{% load i18n %}
{% block profile_title %}
    {% trans "File" %}
{% endblock profile_title %}
{% block profile_content %}
<div class="d-flex justify-content-center">
    <div class="login">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div>
                    <label>{% trans "Name" %}:</label>
                    {{form.name}}
                </div>
                {% for error in form.name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div>
                    <label>{% trans "Description" %}:</label>
                    {{form.description}}
                </div>
                {% for error in form.description.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div>
                    <label>{% trans "File Url" %}:</label>
                    {{form.patient_file}}
                </div>
                {% for error in form.patient_file.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <input type="submit" value="{% trans "Save" %}" class="auth-btn custom-shadow mb-3"/>
            </div>
        </form>
    </div>
</div>
{% endblock profile_content %}