.table-apointment-request-link {
    text-align: center;
    color: #00A3C8;
}

.btn-file-download {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #00A3C8;
    color: #fff;
}

.btn-file-download i {
    margin-left: 5px;
}

.start_meeting_btn {
    color: #00A3C8;
    background-color: #fff;
    border: none;
    outline: none;
}

/* MEETING ROOM CSS */


#room-name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #5663C1;
}

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin:0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 93, 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198,202,219,1);
    position: relative;
}

.video-player{
    height: 100%;
    width: 100%;
    position: relative;
}

.video-player > * {
    border-radius: 5px;
}
.username-wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width:1650px) {
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
}


/* ----------------- Room Styling | Controls ------------------*/

#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

.control-icon{
    height: 50px;
    width: 50px;
    box-shadow: var(--shaddow);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}

.room_note {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}