{% load i18n %}

{% if confs.count == 0 %}
<p class="text-secondary mt-5">{% trans "Empty" %}</p>      
{% else %}
<div>
    {% if confs.count == 0 %}
        <small style="color: #767676;">{% trans "Empty" %}</small>
    {% else %}
        {% for conf in confs %}
            {% include 'partials/_conf_card.html' %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}
<div class="pagination d-flex justify-content-center p-5">
    {% if page_obj.has_previous %}
        <a hx-get="{% url 'index_conf_pagination_view' %}?page={{ page_obj.previous_page_number }}" hx-target="#conf_id" hx-trigger="click" class="custom-shadow" style="cursor: pointer;">{% trans "Previous" %}</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a hx-get="{% url 'index_conf_pagination_view' %}?page={{ page_obj.next_page_number }}" hx-target="#conf_id" hx-trigger="click" class="custom-shadow" style="cursor: pointer;">{% trans "Next" %}</a>
    {% endif %}
</div>