{% load static %}
{% load i18n %}
<div>
  <form method="post" action="{% url 'contact' %}">
    {% csrf_token %}
    <div class="contact-form">
        <div class="custom-form-group-row">
          <input class="custom-input" type="text" name="name" placeholder="{% trans "Enter Name" %}" required>
          <input class="custom-input" type="email" name="email" placeholder="{% trans "Enter Email" %}" required>
        </div>
        <div class="custom-form-group-row">
          <input class="custom-input" type="text" name="subject" placeholder="{% trans "Enter Subject" %}" required>
          <input class="custom-input" type="text" name="phone" placeholder="{% trans "Enter Phone" %}" required>
        </div>
        <div class="custom-form-group-column">
          <textarea class="custom-input" name="message" cols="30" rows="10" placeholder="{% trans "Enter Message" %}" required></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <input type="submit" value="{% trans "SEND" %}" class="contact-btn custom-shadow" />
        </div>
    </div>
  </form>
</div>
